*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Condensed" , sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 12%;
}

.logo img{
    max-width: 80%;
    width: 80px;
    height: auto;
}

.logo{
    animation: slideRight 1s ease-in forwards;
    position: relative;
}

@keyframes slideRight{
    0%{transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    color: #FFF;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 22px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

@keyframes slideTop{
    0%{transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.navbar a:hover{
    color: #79a6e5; 
    background-image: linear-gradient(45deg, #79a6e5 26%, #69ba63 27%, #67d9b0 55%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
   
}
.navbar .active{
    color: #723939; 
    background-image: linear-gradient(45deg, #723939 28%, #071beb 17%, #e7b9fb 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}
.header-btn{
    display: flex;
    align-items: center;
}

.nav-btn i{
    font-size: 15px;
    margin-right: 5px;
}

.nav-btn{
   display: flex;
   align-items: center; 
   justify-content: center;
   color: black;
   font-size: 30px;
   text-transform: capitalize;
   font-weight: 500;
   padding: 12px 25px;
   border-radius: 20px;
   transition: all .42s;
   background-color: #08AEEA;
   background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    
   animation: slideLeft 1s ease-in forwards;
}

@keyframes slideLeft{
    0%{transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}


.nav-btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
#menu-icon{
    font-size: 40px;
    margin-left: 12px;
    z-index: 10001;
    cursor: pointer;
    color: #FFF;
    display: none;
}

section{
    padding: 120px 12% 60px;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #114998 15%, #073b34 30%, #4d01c8 95%); 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.home-img img{
    max-width: 100%;
    width: 450px;
    height: auto;
    border-radius: 50%;
    animation: Img1Animation 1s ease-out backwards;
}

@keyframes Img1Animation{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-text h4{
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.home-text h1{
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 12px 0px;
    animation: slideRight2 1s ease-in forwards;
}

@keyframes slideRight2{
    0%{transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.home-text h3{
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    animation: slideBottom2 0.7s ease-in forwards;
    animation-delay: .20s;
}

@keyframes slideBottom2{
    0%{transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-text h4{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 2px;
    animation: slideBottom 0.5s ease-in forwards;
}



@keyframes slideBottom{
    0%{transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


.home-text h3 span{
    color: #358cdf; 
    background-image: linear-gradient(45deg, #358cdf 14%, #eb5715 18%, #a9c31b 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;    
}

.home-text h4 span{
    color: #358cdf; 
    background-image: linear-gradient(45deg, #358cdf 14%, #eb5715 18%, #a9c31b 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;    
}

.home-icon i{
    color: #57a98f; 
    background-image: linear-gradient(45deg, #57a98f 46%, #d63895 91%, #02e17a 95%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;      
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #f2acac;
    border-radius: 20px;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    transition: all .42s; 
    opacity: 0; 
    animation: HI 1s ease forwards; 
    animation-delay: calc(.2s*var(--i));
}

@keyframes HI{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }


    100%{
        transform: translateY(0px);
        opacity: 1;
    }


}

.home-icon i:hover{
    color: #13900f; 
    background-image: linear-gradient(45deg, #13900f 24%, #d49375 23%, #6c5e8b 64%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

header.sticky{
    background-image: linear-gradient(45deg, #114998 15%, #073b34 30%, #4d01c8 95%); 
    padding: 14px 12%;
    box-shadow: 0px 4px 15px rgb(0 0 0/ 8%);
    transition: all .42s;
}


.about{
    background-image: linear-gradient(45deg, #114998 15%, #073b34 30%, #4d01c8 95%); 
}

.main-about{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: flex-start;
}

.about-image img{
    max-width: 100%;
    width: 430px;
    height: auto;
    border-radius: 50px;
}

.about-text {
    display: flex;
    flex-direction: column; /* Stack text elements vertically */
    justify-content: flex-start; /* Align items at the start */
}

.about-text h5{
    color: #f0eecb; 
    background-image: linear-gradient(45deg, #f0eecb 28%, #c642fc 44%, #2d4551 65%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;     
    font-size: 50px;
    text-transform: capitalize;
    font-weight:500;
    margin-bottom: 15px;
    margin-top: 20px;
}

.about-text h2{
    color: #d88b2a; 
    background-image: linear-gradient(225deg, #d88b2a 19%, #934ae8 30%, #03e845 54%, #25fd92 59%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    align-items: flex-end;
   
}
.dn-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    animation: CV 2s ease forwards;
    animation-delay: calc(.2s*var(--i));
    opacity: 0;
}

@keyframes CV{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }


    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.dn-btn:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}